@page
@model TesteFood.Pages.Restaurantes.ListaModel
@{
}
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
@if (@Model.Message != null)
{
  <div class="alert alert-info">@Model.Message</div>
}

<h1>Restaurantes</h1>
<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>

</form>
<hr />
<Table class="table">

    @foreach (var restaurant in Model.Restaurantes)
    {
        <tr>
            <td>@restaurant.nome</td>
            <td>@restaurant.location</td>
            <td>@restaurant.cozinha</td>
            <td>
                <a class="btn btn-lg" asp-page="./Detalhes" asp-route-restaurantId="@restaurant.ID">
                    <i class="glyphicon glyphicon-zoom-in"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-lg" asp-page="./Edit" asp-route-restaurantId="@restaurant.ID">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
            </td>
            <td>
                <a class="btn btn-lg" asp-page="./Delete" asp-route-restaurantId="@restaurant.ID">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
    }

</Table>

<a asp-page=".\Edit" class="btn btn-primary">Adicionar Restaurante</a>